<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="40%" fxFlexOffset="25%">
    <h1>Products Search</h1>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start start">

  <div fxFlex="100%" fxFlexOffset="10%">
    <h2>API Products</h2>

    <mat-form-field (keyup.enter)="searchProducts()" appearance="fill">
      <input [(ngModel)]="searchInput" matInput
             placeholder="Enter Search Criteria">
    </mat-form-field>

    <button (click)="searchProducts()" mat-raised-button>Search</button>

    <hr/>

    <table [dataSource]="products" class="mat-elevation-z8" mat-table width="100%">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let product" mat-cell> {{product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="brandName">
        <th *matHeaderCellDef mat-header-cell> Brand Name</th>
        <td *matCellDef="let product" mat-cell> {{product.brand_name}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th *matHeaderCellDef mat-header-cell> Author</th>
        <td *matCellDef="let product" mat-cell> {{product.author}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th *matHeaderCellDef mat-header-cell> Size</th>
        <td *matCellDef="let product" mat-cell> {{product.size}} </td>
      </ng-container>

      <ng-container matColumnDef="addButton">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let product" mat-cell>
          <button (click)="addProduct(product)" mat-raised-button>Save</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="productColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: productColumns;" mat-row></tr>
    </table>


  </div>

</div>
