<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="40%" fxFlexOffset="25%">
    <h1>Products Search</h1>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start start">

  <div fxFlex="40%" fxFlexOffset="10%">
    <h2>API Products</h2>

    <mat-card class="mat-elevation-z8">
        <mat-form-field>
          <input matInput class="search-class"
                 [(ngModel)]="searchInput">
        </mat-form-field>
    </mat-card>

    <mat-card-actions>
        <button (click)="searchProducts()" mat-raised-button>Search</button>
    </mat-card-actions>

  <hr />

    <table mat-table width="600px" [dataSource]="products" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="brandName">
        <th mat-header-cell *matHeaderCellDef> Brand Name</th>
        <td mat-cell *matCellDef="let product"> {{product.brand_name}} </td>
      </ng-container>

      <ng-container matColumnDef="addButton">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let product"> <button (click)="addProduct(product)" mat-raised-button>Save Product</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
    </table>


  </div>

</div>
