<mat-sidenav-container class="main-container">

  <mat-sidenav mode="side" opened class="side-nav">

    <div class="spacer" align="center">

    </div>

    <mat-nav-list >
      <a mat-list-item routerLink="/home"><h3>Home</h3></a>
      <a mat-list-item routerLink="/products-search"><h3>Products Search</h3></a>
      <a mat-list-item routerLink="/saved-products"><h3>Saved Products</h3></a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
