<div fxLayout="row" fxLayoutAlign="start start" >
  <div fxFlex="40%" fxFlexOffset="25%">
    <h1>Mongotest Home</h1>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" >

  <div fxFlex="40%" fxFlexOffset="10%">

    <mat-card class="mat-elevation-z8">
      <mat-card>
        <h2>Built With</h2>
        <div>
          <ul>
            <li>Spring Boot</li>
            <li>MongoDB</li>
            <li>Angular 8</li>
            <li>Datakick API</li>
          </ul>
        </div>
      </mat-card>
    </mat-card>
  </div>


</div>
